:root {
  --blue: #2563eb;
  --blue-light: #3b82f6;
  --bg-light: #f7f9fc;
  --bg-dark: #0f172a;
  --card-light: #ffffff;
  --card-dark: #1e293b;
  --text-light: #0f172a;
  --text-dark: #f1f5f9;
  --border-light: #e2e8f0;
  --border-dark: #334155;
  --bg-light-transparent: #f7f9fc7a;
  --bg-dark-transparent: #0f172a73;
  --bg-light-semi-transparent: #f7f9fcc5;
  --bg-dark-semi-transparent: #0f172abe;
  color-scheme: light dark;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: light-dark(var(--bg-light), var(--bg-dark));
  font-family: poppins;
  display: grid;
  place-items: center;
  height: 100vh;
}

.card {
  background: light-dark(var(--card-light), var(--card-dark));
  box-shadow: 0px 1px 50px light-dark(var(--bg-light), var(--bg-dark));
  width: 30%;
  padding: 40px 40px;
  border-radius: 20px;
  transition: box-shadow 2s ease-out;
}

.card:hover {
  box-shadow: 0px 1px 50px light-dark(var(--bg-dark), var(--bg-light));
  transition: 2s ease-out;
}

.accent {
  color: light-dark(var(--blue), var(--blue-light));
}

.btn {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: light-dark(var(--blue), var(--blue-light));
  font-family: "poppins";
  border: none;
  margin-right: 3px;
  font-size: 0.9rem;
  color: white;
  width: 200px;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
}

.text {
  margin: 0 0 15px 0;
  color: #acababe3;
}

hr {
  border: 0.1px solid #42424286;
}

.pass-btn {
  margin: 20px 0 20px 0;
}

.pass-txt {
  margin-top: 20px;
}

.inputs {
  padding: 10px 15px;
  color: light-dark(var(--blue), var(--blue-light));
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 0.8rem;
  background-color: light-dark(var(--border-light), var(--text-light));
  font-family: poppins;
}

.copy-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.tooltip {
  position: absolute;
  right: 100%;
  background: #2b6cb0;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(5px);
  transition: opacity 0.25s ease, transform 0.25s ease;
  width: fit-content;
}

.tooltip.show {
  opacity: 1;
  transform: translateY(0);
}

#customize-btn {
  display: none;
}

div {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

div {
  margin: 0;
  padding: 0;
}

@media (max-width: 900px) {
  .card {
    width: 55%;
  }
}

@media (max-width: 700px) {
  .card {
    width: 60%;
    font-size: 0.7rem;
  }
  h1 {
    font-size: 1.8rem;
  }
  #customize-group {
    display: none;
  }
  #customize-btn {
    display: block;
    margin-top: 10px;
  }
  .card {
    box-shadow: 0px 1px 50px light-dark(var(--bg-dark), var(--bg-light));
    transition: 2s ease-out;
  }
  .inputs {
    margin-top: 10px;
  }
}
