@font-face {
  font-family: poppins;
  src: url(/font/Poppins-Regular.ttf);
}

* {
  font-family: poppins;
}

body {
  margin: 0;
}

header {
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover; /* ensures video covers container */
  transform: translate(-50%, -50%);
  z-index: -1; /* behind content */
}

h1 {
  text-align: center;
  font-size: clamp(28px, 15vw, 70px);
  background-color: #063d74;
  color: #f0f0f0;
  border-radius: 20px;
  padding: 10px;
  transform: rotate(-10deg);
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* adjust opacity */
  z-index: 0;
}

.hero-content {
  z-index: 1;
}

main {
  padding: 10px 0;
  background-color: #0e81f391;
  align-items: center;
}

section {
  display: grid;
  grid-template-rows: repeat(2, 450px);
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 20px;
}
/* responsive: stack to 1 column on narrow screens */
@media (max-width: 800px) {
  section {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 400px);
  }
}

.foot {
  grid-template-rows: repeat(1, 450px);
}

h2 {
  text-align: center;
  margin: 50px 0;
  font-size: clamp(2px, 7vw, 45px);
}

.card {
  width: 200px;
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-self: center;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.h {
  margin-bottom: 10px;
}

p {
  line-height: 20px;
  text-align: center;
}
.foot-text {
  margin: 0 0 60px 0;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  display: block;
  margin: 0 auto;
}

.sub {
  margin: 20px 5%;
  font-size: clamp(3px, 5vh, 15px);
  background-color: #0e80f3;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #1e90ff;
  border-radius: 10px;
  border: 3px solid #f0f0f0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #104e8b;
}
