@font-face {
  font-family: poppins;
  src: url(/font/Poppins-Regular.ttf);
}

@font-face {
  font-family: poppins-bold;
  src: url(/font/Poppins-ExtraBold.ttf);
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: poppins;
}

h2 {
  font-family: poppins-bold;
}

img {
  width: 300px;
  border-radius: 40px;
  display: block;
}

.card {
  width: 300px;
  height: 400px;
  margin: 20px;
  border-radius: 40px;
  padding: 20px;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

button {
  padding: 10px 20px;
  border-radius: 50px;
  background: transparent;
  font-family: poppins;
  font-weight: 600;
}

#err-text {
  color: red;
}
