body {
  font-size: 1.125rem;
  background-color: #fff;
  font-family: sans-serif;
}

h1 {
  font-size: 3rem;
  color: #312614;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  color: #707070;
}

span {
  color: #b7832f;
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
p {
  margin-top: 0;
  text-align: justify;
}

.container {
  max-width: 980px;
  margin-inline: auto;
}

.column {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}

.col-bg {
  background: black;
  padding: 0.5em;
  color: #fff !important;
}

.col-1 {
  width: 23%;
}

.col-2 {
  width: 48%;
}

.col-3 {
  width: 73%;
}

/* Media Queries */

@media (max-width: 600px) {
  .container {
    width: 95%;
  }
  .column {
    display: flex;
    flex-direction: column;
  }
  .col-1,
  .col-2,
  .col-3 {
    width: 100%;
    box-sizing: border-box;
  }
}
