.item {
  padding: 2em;
  background-color: blue;
  color: white;
  text-align: center;
  border-radius: 8px;
  font-size: 2rem;
}

.grid-container {
  display: grid;
  /* grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 200px 200px 200px; */
  grid-template-rows: 200px 200px;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-areas:
    "box-1 box-2 box-2 box-3"
    "box-1 box-4 box-5 box-5";
  gap: 1em;
}
