body {
  font-family: quicksand;
  margin: 0 10%;
  background-color: #000caf;
  color: white;
  font-size: 20px;
}

h1 {
  font-size: 80px;
  text-align: center;
}

li {
  list-style: none;
  margin-bottom: 10px;
}

a {
  color: aliceblue;
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  text-decoration: underline;
}
