body {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10% 20%;
  font-family: poppins;
}

div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

span {
  border-bottom: 2px solid black;
  margin: 0 20px;
  font-size: 70px;
}

button {
  border-radius: 20px;
  background: none;
  padding: 10px 20px;
  margin: 10px;
}
